.home-content{
    padding: 20px;
    margin: 0% 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.home-content-tile {
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.home-content-tile p {
    word-wrap: break-word;
}

.home-profile-image {
    flex-grow: 1;
    width: 400px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.home-content-title-header {
    font-size: 35px;
    font-weight: 800;
    color: #6B1E23;
}
.sized-box {
    height: 15px;
}
.home-content-sub-title-header {
    font-size: 20px;
    font-weight: 700;
    color: #6B1E23;
}

.home-content-body {
    font-size: 16px;
    font-weight: 600;
    color: #6B1E23;
    text-align: justify;
}

.home-content-about-link {
    text-align: end;
    text-decoration: none;
    color: #6B1E23;
}

@media screen and (max-width: 930px) {
    .home-content{
    margin: 0% 20px;
    }
    .home-content-tile {
    margin-left: 20px;

}

}