.header {
    height: 120px;
    background-color: #6B1E23;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu-items {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 0% 10px;
    padding: 10px;
}
.menu-items:hover {
    background-color: white;
    color: #6B1E23;
    transition: all ease-in-out 300ms;
}
.header-logo {
    width:100px;
}


@media screen and (max-width: 930px) {
    .header-logo {
    width: 100%;
    height: auto;
    background-color: #6B1E23;
    }
    .header {
    height: max-content;
    }


}